
.table-cell {
    -fx-alignment: CENTER;
}

.table-row-cell:empty {
    -fx-background-color: white;
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0.0px;
}

.table-row-cell:bottom-line {
    -fx-border-color:  grey;
    -fx-table-cell-border-color: transparent;
    -fx-font-weight: bold;
}
